/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-mar-2017, 12.05.51
    Author     : Robi
*/

body{
    background-color: #ccf3ff;
    font: 17px/25px "Open Sans", Arial, sans-serif;
}

.login{
    background-color: #ffffff;
    font: 40px/25px "Open Sans", Arial, sans-serif;
    text-align: center;
}

/*colore e dimensione paragrafi*/
p{
    font-size: 18px;
    color: #111111;
}

/*Tolgo l'elenco puntato non ordinato*/
ul{
    list-style-type:none;
}
/*Tolgo l'elenco puntato ordinato*/
li{
    list-style: none;
}
/*Modifico la visualizzazione dei campi di input*/
label, input, textArea{
    color: #111111;
    font: 15px/25px "Open Sans", Arial, sans-serif;
}

h1{
    margin-top: 0px;
    color: #1f3057;
    font: 35px/40px Arial, "Open Sans", sans-serif;
    font-weight: bold;
}

h2{
    margin-top: 0px;
    color: #254432;
    font: 25px/40px "Open Sans", Arial, sans-serif;
    font-weight: bold;
}

h3{
    margin-top: 0px;
    color: #254432;
    font: 20px/30px "Open Sans", Arial, sans-serif;
    font-weight: bold;
}

a:link{
    font-size: 20px;
    text-decoration: none;
    color: #111111;
}

a:visited{
    font-size: 20px;
    text-decoration: none;
    color: #173679;
}

a:hover{
    font-weight: bold;
}
