/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-mar-2017, 12.05.51
    Author     : Robi
*/

body{
    background-color: #ccf3ff;
    font: 17px/25px "Open Sans", Arial, sans-serif;
    margin-top: 0px;
}

/*colore e dimensione paragrafi*/
p{
    font-size: 18px;
    color: #111111;
}

/*Tolgo l'elenco puntato non ordinato*/
ul{
    list-style-type:none;
}

li{
    display: inline; /*allineo gli elementi classificati come ordinati. es: profilo, bacheca, login ecc*/
    list-style-type: none; /*Tolgo l'elenco puntato ordinato*/
    border-right: 1px solid #bbb;
}

li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

/*Scritta Nerdbook*/
#header #title{
    background-color: #ffffff;
    text-align: left;
    height: 40px;
    width: 200px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    margin-top: 10px;
    margin-right: 50px;
    top: -10px;
    position: fixed;
    
}
/*Modifico i parametri della nav*/
nav p{
    margin-right: 50px;
    position: fixed;
    left: 1000px;
    margin-top: 3px;
    top: 0px;
    margin-left: 10px;
    height: 50px;    
    width: 100px;
    
    
}

#logout li{
    text-decoration: none;
    float: right;
    position: fixed;
    margin-left: 970px;
    margin-top: 10px;
    background-color:#ccf3ff;
    border-right: none;
    text-decoration: underline;
    
    
}

ol {
    position: fixed;
    top: 0;
    width: 100%;
}

nav ol{
    position: fixed;
    display: inline;
    left: 251px;
    background-color: #ffffff;
    float: left;
    top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    font: 30px/32px "Open Sans", Arial, sans-serif;
    margin-left: 0px;
    margin-right: 0px;
    right: 0px;
    width: 650px;
    padding-left: 50px;
    
}

ol li{
    margin-left: 0px;
    margin-right: 30px;
    padding-right: 10px;
    padding-left: 10px;
    
    
}

/*Modifico la visualizzazione dei campi di input*/
label, input, textArea{
    color: #111111;
    font: 15px/25px "Open Sans", Arial, sans-serif;
}

h1{
    margin-top: 0px;
    color: #1f3057;
    font: 35px/40px Arial, "Open Sans", sans-serif;
    font-weight: bold;
}

h2{
    margin-top: 0px;
    color: #254432;
    font: 25px/40px "Open Sans", Arial, sans-serif;
    font-weight: bold;
}

h3{
    margin-top: 0px;
    color: #254432;
    font: 20px/30px "Open Sans", Arial, sans-serif;
    font-weight: bold;
}

a:link{
    font-size: 20px;
    text-decoration: none;
    color: #111111;
}

a:visited{
    font-size: 20px;
    text-decoration: none;
    color: #173679;
}

a:hover{
    font-weight: bold;
}

#persone, #gruppi{
    text-align: left;
    border-right: 1px solid #000;
    background: #ccf3ff;
    position: fixed;
    
}

#gruppi{
    top: 290px;
    width: 200px;
    background-color: #ccf3ff;
}

#persone{
    top:40px;
    width: 200px;
    
}

#divBody{
    padding-top: 50px;
    margin-left: 300px;
}

#divBody #mario, #cortex, #crash, #luigi{
    background-color: #ffffff;
    height: auto;
    width: 700px;
    margin-left: -56px;
    margin-top: 20px;
    float: left;
    
    
}

#divBody #cortex #foto img{   
    width: 500px;
    
}

/*Scritta Nerdbook del login*/
#header #titolo{
    background-color: #ffffff;
    text-align: centre;
    height: 35px;
    width: 180px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    margin-top: 25px;
    left: 350px;
    margin-right: 50px;
    top: 0px;
    position: fixed;
    
}

#riquadroLogin{
    background-color: #ffffff;    
    position: relative;
    text-align: center;
    padding-bottom: 0px;
    margin-right: 1px;
    margin-top: 0px;
    width: 300px;
    left: 30%;
    top: 15%;
    
}

#button{
    width: 172px;
}

#loginHeader{
    margin-top: 60px;
    margin-left: 375px;
    margin-bottom: 0px;


    
}
#loginHeader h1{
    padding-left: 30px;
    right: 40px;
    
}
#loginHeader img{
    position: relative;
    top: 50px;
    right: 30px;
    width: 50px;
    text-align: center;
    padding-bottom: 0px;
    
}

.goTo ul{
    
    left: 0px;
    top: 12px;
    margin-top: 25px;
}

.goTo nav ol{
    padding-left: 0px;
    left: 208px;
}

nav ol li p {
    left: 800px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 40px;
    top: -10px;
    font-size: 10px;
    width: 50px;
    height: 20px;

}
/*Qua*/
.goTo nav ol p{
    float: left;
    left: 800px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    font-size: 10px;
    margin-left: -325px;


}

#divBody form{
    position: relative;
    float: left;
    width: 600px;
    height: 300px;
}

#divBody form input, textArea{
    width: 200px;
    height: 25px;
    float: right;
    clear: right;    
    margin-top: 5px;
    margin-bottom: 5px;
    
}

#divBody form label{
    width: 200px;
    height: 25px;
    margin-top: 12px;
    margin-bottom: 5px;
    float: left;
    clear: left;
}

#divBody form button{
    float: right;
    clear: both;
    width: 100%;
}
#divBody img{
    float: left;
    margin-right: 15px;
    margin-top: 18px;
}
